.field {
  position: relative;
}

.label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2196f3;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #d2d5d6;
  cursor: pointer;
}

.label:hover {
  background: #f2fcff;
  border-color: #64b5f5;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.input:checked + label {
  color: #fff;
  background: #2196f3;
  border-color: #2196f3;
}
