.wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
}

.left {
  padding: 25px 20px;
  border-right: 1px solid #eceff1;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right {
  flex: 1;
  padding: 25px;
}

.image {
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 13px;
}

.time {
  font-size: 32px;
  color: #4a4a4a;
  line-height: 1.1;
}

.cityline {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.city {
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
}

@media screen and (max-width: 800px) {
  .left {
    flex: 0 0 100%;
  }

  .time {
    font-size: 24px;
  }
}
