.buyButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ff6d00;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 0 rgb(214, 77, 8), 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
}

.buyButton:hover {
  background: #ff8124;
}
