.wrapper {
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
}

.city {
  font-size: 12px;
  font-weight: 700;
  color: #4a4a4a;
  margin: 0 0 4px;
}

.date {
  font-size: 12px;
  color: #8b9497;
  margin: 0;
}

.alignRight {
  text-align: right;
}
