.wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left {
  flex: 0 0 232px;
  margin-right: 20px;
}

.right {
  flex: 1;
}

@media screen and (max-width: 800px) {
  .left {
    flex: 1 0 100%;
    margin-bottom: 15px;
  }

  .wrapper {
    max-width: 425px;
  }
}
