.wrapper {
  margin-bottom: 33px;
}

.title {
  font-size: 12px;
  font-weight: 700;
  color: #4a4a4a;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 15px;
}

.list {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
  display: flex;
}

.item {
  flex: 1;
  margin-left: -1px;
}

.item:first-child label {
  border-radius: 5px 0 0 5px;
}

.item:last-child label {
  border-radius: 0 5px 5px 0;
}
