.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 9px 15px;
}

.wrapper .button {
  opacity: 0;
  visibility: hidden;
}

.wrapper:hover .button {
  opacity: 1;
  visibility: visible;
}

.wrapper:hover {
  background: #f1fcff;
}

.label {
  font-size: 13px;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  user-select: none;
}

.label:hover {
  cursor: pointer;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  outline: 0;
  opacity: 0;
}

.input:focus + label:before {
  box-shadow: 0 0 0 2px #80b0f8;
}

.input:checked + label:before {
  background: #f2fcff url(../../../assets/arrow.svg) no-repeat center;
}

.label::before {
  content: '';
  flex-shrink: 0;
  display: block;
  height: 19px;
  width: 19px;
  border: 1px solid #d2d5d6;
  border-radius: 3px;
  margin-right: 11px;
}

.button {
  font-size: 11px;
  font-weight: 600;
  color: #2196f3;
  text-transform: uppercase;
  margin-left: auto;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
