.stops {
  text-transform: uppercase;
  font-size: 12px;
  color: #8b9497;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stops img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 360px) {
  .stops {
    font-size: 8px;
    max-width: 85px;
  }
}
